@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  margin-left: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #e6e6e6;
  height: 100vh;
}

body .pageΗeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

body .pageΗeader .tableTitle {
  padding: 10px 32px;
  border-radius: 25px;
  background-color: #350096;
  color: #e6e6e6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .pageΗeader .addSupplierBtn {
  padding: 10px 32px;
  border-radius: 25px;
  background-color: #3BBEAA;
  color: #e6e6e6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .tableWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 76%;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 30px;
  width: 88%;
  min-width: 1070px;
}

body .tableWrapper #suppliers {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
}

body .tableWrapper #suppliers th {
  background-color: rgba(53, 0, 150, 0.07);
  padding: 12px 3px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .tableWrapper #suppliers tr {
  border-bottom: 2px solid #ccc;
  text-align: left;
}

body .tableWrapper #suppliers tr td {
  padding: 12px 6px;
  white-space: normal;
}

body .tableWrapper #suppliers tr td .edit, body .tableWrapper #suppliers tr td .del, body .tableWrapper #suppliers tr td .store {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e6e6e6;
}

body .tableWrapper #suppliers tr td .edit:hover, body .tableWrapper #suppliers tr td .del:hover, body .tableWrapper #suppliers tr td .store:hover {
  cursor: pointer;
}

body .tableWrapper #suppliers tr td .edit:active, body .tableWrapper #suppliers tr td .del:active, body .tableWrapper #suppliers tr td .store:active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .tableWrapper #suppliers tr td .edit {
  background-image: url(../img/edit_icon.png);
}

body .tableWrapper #suppliers tr td .del {
  background-image: url(../img/cancel_icon.png);
}

body .tableWrapper #suppliers tr td .store {
  background-image: url(../img/done_icon.png);
}

body .tableWrapper #suppliers tr td input {
  border: none;
  background-color: transparent;
  width: 100%;
}

body .tableWrapper #suppliers tr td input:disabled {
  color: black;
}

body .tableWrapper #suppliers tr td input:focus {
  background-color: white;
  font-weight: bold;
}
/*# sourceMappingURL=suppliers.css.map */