body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e6e6e6;
}

#suppliers{
    width: 65%;
    margin:auto;
    margin-top:3%;
}

#suppliers,
#suppliers td,
#suppliers th {
    border: 1px solid black;
    border-collapse:collapse;
}

#suppliers td {
    padding: 3px 2px;
    text-align: center;
}

.thead th {
    padding: 5px 8px;
}

#suppliers tr:nth-child(odd) {
    background-color: gainsboro
}

#suppliers tr:nth-child(even) {
    background-color: white
}

#suppliers .thead tr {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white
}

#suppliers input{
    border: none;
    background-color: transparent !important;
    text-align: center;
    color:black;

}

.edit:hover,
.delete:hover{
    cursor: pointer;
    color: #3b0899;
    text-decoration: underline;
}

.edit:active,
.delete:active{
    color: black;
    user-select: none;
}

