body {
  margin: 0;
  padding: 0;
  margin-left: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #e6e6e6;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body form .add {
  position: fixed;
  top: 25px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.05s ease-in;
  transition: 0.05s ease-in;
}

body form .add:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 7px 41px -1px rgba(53, 0, 150, 0.58);
          box-shadow: 5px 7px 41px -1px rgba(53, 0, 150, 0.58);
}

body form .add img {
  width: 50px;
  height: 50px;
}

body form .topinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 95px;
  min-height: 60px;
  width: 90%;
  min-width: 1070px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body form .topinfo h2 {
  padding: 10px 32px;
  border-radius: 25px;
  background-color: #350096;
  color: #e6e6e6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body form .topinfo .filterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
  max-height: 32px;
}

body form .topinfo .filterContainer select, body form .topinfo .filterContainer .docid, body form .topinfo .filterContainer .datepicker {
  display: block;
  padding-bottom: 10px;
  border: none;
  border-bottom: 2px solid #bbb;
  font-weight: bold;
  font-size: 15px;
  background-color: #e6e6e6;
  margin-right: 2px;
}

body form .topinfo .filterContainer select:focus, body form .topinfo .filterContainer .docid:focus, body form .topinfo .filterContainer .datepicker:focus {
  outline: none;
  border-bottom: 2px solid #333;
}

body form .topinfo .filterContainer select {
  padding-bottom: 9px;
  min-width: 262px;
}

body form .topinfo .filterContainer .docid, body form .topinfo .filterContainer .datepicker {
  min-width: 195px;
}

body form .topinfo .filterContainer .filter {
  height: 30px;
  width: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body form .topinfo .filterContainer .filter:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(53, 0, 150, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(53, 0, 150, 0.6);
}

body form .topinfo .filterContainer .filter img {
  height: 100%;
}

body form .topinfo .checkWrapper {
  height: 50%;
  margin: auto 0;
  min-width: 176px;
}

body form .topinfo .checkWrapper label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body form .tableWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  overflow-y: auto;
  width: 88%;
  min-width: 1070px;
}

body form .tableWrapper .noRes {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: rgba(53, 0, 150, 0.07);
  border-radius: 5px;
  font-weight: bolder;
}

body form .tableWrapper #dates {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

body form .tableWrapper #dates thead th {
  background-color: rgba(53, 0, 150, 0.07);
  padding: 12px 3px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body form .tableWrapper #dates tr {
  border-bottom: 2px solid #ccc;
  text-align: left;
}

body form .tableWrapper #dates tr td {
  padding: 12px 6px;
  white-space: normal;
}

body form .tableWrapper #dates tr td .edit, body form .tableWrapper #dates tr td .del, body form .tableWrapper #dates tr td .store {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e6e6e6;
}

body form .tableWrapper #dates tr td .edit:hover, body form .tableWrapper #dates tr td .del:hover, body form .tableWrapper #dates tr td .store:hover {
  cursor: pointer;
}

body form .tableWrapper #dates tr td .edit:active, body form .tableWrapper #dates tr td .del:active, body form .tableWrapper #dates tr td .store:active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body form .tableWrapper #dates tr td .edit {
  background-image: url(../img/edit_icon.png);
}

body form .tableWrapper #dates tr td .del {
  background-image: url(../img/cancel_icon.png);
}

body form .tableWrapper #dates tr td .store {
  background-image: url(../img/done_icon.png);
}

body form .tableWrapper #dates tr td input {
  border: none;
  background-color: transparent;
  width: 100%;
}

body form .tableWrapper #dates tr td input:disabled {
  color: black;
}

body form .tableWrapper #dates tr td input:focus {
  background-color: white;
  font-weight: bold;
}

body form .tableWrapper #dates tr td .item {
  width: 70%;
}
/*# sourceMappingURL=viewExDates.css.map */