body{
	font-family:Arial;
	font-size:13px;
    display:flex;
    flex-direction: column;
}

#ititle{
    height:25px;
    margin:0.5% auto 0.5%;
    font-size: 18px;
}

/****************************************** filters */
#filters-area{
	/* display:none; */	
	height:19%;
	display:flex;
	flex-direction:row;
	max-height:12%;
}

#home-logo{
	background-image: url(../../menuicon/home_1b1991.png);
	background-color:#e1e1e1;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center; 
	width:90px;
	height:90%;
	margin-right:2%;
	margin-left:1%;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:0px 3px 10px 0 #d9d9d9;
	-moz-box-shadow:0px 3px 10px 0 #d9d9d9;
	-webkit-box-shadow:0px 3px 10px 0 #d9d9d9;
}

#home-logo:hover{
	background-image: url(../../menuicon/home_bfbfc2.png);
	background-color:#000bad;
}

#home-logo a{
	display:block;
	width:100%;
	height:100%;
}

#excFilter,
#voucherRange{
	display:flex;
	flex-direction:column;	
	width:30%;
	height:80%;
	padding:5px 13px;
	background-color:rgba(190, 190, 190, 0.4);
	border-radius:5px;
}

#excFilter{
	margin-right:2%;
}

#filterField{
	padding:4px 8px;
	width:90%;
	min-width:80px;
	margin:0.7% auto;
}

#excFilter label{
	margin-top:3px;
	text-align:left;
	border-bottom:1px solid grey;
}

#rangeTitle{
	margin-top:3px;
	border-bottom:1px solid grey;
}

#rangeFields{
	margin:0.7% auto;
	width:80%;
}

#voucherRange{
	
}

#voucherRange label{
	margin-top:3px;
	vertical-align:baseline;
}

#voucherRangeMin,
#voucherRangeMax{
	width:20%;
	min-width:40px;
	padding:4px 8px;
}

#applyFilter{
	background-color:#3498db;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #3498db;
	overflow:hidden;
	color:#ffffff;
	cursor:pointer;
	padding:4px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	min-width:30px;	
	outline:none;
}

#applyFilter:hover{
	background-color:#3cb0fd;
}

#applyFilter:active{
	background-color:#3498db;
}

#slider-footer{
	border-top:1px solid gray;
	height:3%
}

#filters-slider{
	cursor:pointer;
	padding:4px 9px;
	margin-left:2%;
	line-height:23px;
	border-radius:0 0 3px 3px;
	background-color:#3498db;
	color:white;
	width:4%;
	text-align:center;
}

#filters-slider:hover{
	background-color:#3cb0fd;
}

#filters-slider:active{
	background-color:#3498db;
}

/****************************************** end filters */

#ititle #oname,
#ititle #fdate,
#ititle #tdate{
    color:orangered;
}

#itable{
    flex:1;
    margin:0 auto 3%;
	text-align:center;
	background-color:rgba(255, 204, 153, 0.40);	
    border:none;
	border-radius:3px;
	border-spacing:0px;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

#itable #Cnames{
	background-color:blueviolet;
    height:35px;
	color: white;
}

#itable tr:nth-child(even) {
    background-color: #eee;
}
#itable tr:nth-child(odd) {
    background-color: #fff;
}

#itable td{
	padding: 3px 5px;
	/*min-width: 100px;*/
	white-space: nowrap;
	position:relative;
}

td p{
	height:18px;
	max-height:72px;
	overflow-y:hidden;
}

#totals{
    display:flex;
    flex-direction:row;
    width:800px;
    position:relative;
    border-top:1px solid #666;
    margin:0 auto 0.5%;
}

#totals-left,
#totals-right{
    display:flex;
    flex-direction:column;
    width:50%;
}
#totals-left{
    margin-right: 5%;
}
#totals-right{
    margin-left: 5%;
}

.totals-row{
    display:flex;
    margin:0% 5% 0% 0%; 
    width:100%;
    font-size: 18px;
    color: #555;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
}

.totals-row:nth-child(6){
    border-bottom: 1px solid #999;
    margin-left:0;
    margin-right:0;
    padding-right:10%;
    padding-left:0%;
}

#endtotal{
    border-bottom: none;
    background-color:#ececec;
    width:800px;
/*    padding-left:53%;*/
    color: #222;
    margin:0 auto;
}
#endtotal .total-label{
    padding-left:55%;
}

.total-label{
    display:inline-block;
    font-style:italic;
    color: #555;
}

#end-total{
    color: #222;
}

.total-num{
    display:inline-block;
    float:right;
    width:20%;
    text-align:right;
}
