#overlay{
	width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
	left:0;
	top:0;
    display:flex;
    transition: height 0.5s;
    visibility:hidden;	
	z-index:1;
}

#popup{
	display:block;
	width:60vw;
    height:60vh;
	background-color: white;
	margin:auto;
	border-radius:20px;
	box-shadow:0px 0px 50px 5px black;
}

#moreClose{
	display:block;
	width:2%;
	height:4%;
	text-align:center;
	line-height:88%;
	position:relative;
	float:right;
	top:2.5%;
	right:1.5%;
	font-weight:bold;
	color:red;
	cursor:pointer;
	font-size:1.1em;
	user-select: none;
}

#moreclose:hover{
	color:white;
	background-color:#e30000;
	border-radius:100%;
}

#moreclose:active{
	color:#e30000;
	background-color:white;
	border-radius:100%;
}

#moreForm{
	display:flex;
	width:54vw;
    height:54vh;
	margin:2.4vh auto;
	border-left:1px solid rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.2);
	border-radius:5px;
	flex-direction:column;
	background-color:#f4f4f4;
	font-weight:bold;
}

#form-title{
	text-align:center;
	font-size:18px;
}

#moreForm > div{
	flex:1;
	justify-content:space-around;
}

.formPiece{
	display:flex;
	flex-direction:column;
}

.formPiece > label{
	padding:3px 0 3px 3px;
	background-color:lightblue;
	border-radius:3px 3px 0 0;
	color:#a30000;
}

.formPiece > input{
	padding:0 4px;
	text-align:center;
}

#form-top{
	display:flex;
	margin-top:4%;
	flex-direction:row;
}

#form-bottom{
	margin:0 auto;
	width:40%;
}

#notes{
	font-family:Arial;
}

#more-btn{
	width:20%;
	margin:0 auto;
	display:flex;
}

#submit-more{
	display:none;
	
}

#submit-more-label{
	background-color:#3498db;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 10px;
	margin:auto;
	font-weight:normal;
}

#submit-more-label:hover{
	background-color:#3cb0fd;
}
#submit-more-label:active{
	background-color:#3498db;
}

#successful-submission,
#unsuccessful-submission{
	position:absolute;
	margin-left:8%;
	margin-top:1.6%;
	font-size:230%;
	visibility:hidden;
}

#successful-submission{
	color:darkgreen;
}

#unsuccessful-submission{
	color:crimson;
}
