body{
	display:flex;
	flex-direction:column;
	font-family:Arial;
	//margin:0;
	/*background-color: rgba(255, 0, 191, 0.03);*/
}

input{
	border:none;
	box-shadow:none;
	border-bottom:3px solid #c9c9c9;
	transition:border 0.3s;
	-moz-transition:border 0.3s;
	-webkit-transition:border 0.3s;
	-o-transition:border 0.3s;
}

input:focus{
	border-bottom:3px solid #969696;
}

#bg{
	position:fixed;
	z-index:-1;
	width:100%;
	height:100%;
	top:0;
	left:0;
 	opacity:0.4;
}

/*****	--Top container styling --	*****/
.top-container{
	height:100px;
	display:flex;
	justify-content:flex-start;
}


/*****	--End Top container styling --	*****/

#home-logo{
	background-image: url(../../menuicon/home_1b1991.png);
	background-color:#e1e1e1;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	display:inline-block;
	width:80px;
	height:55px;
	margin:auto;
	margin-left:5px;
	margin-right:10px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:0px 3px 10px 0 #d9d9d9;
	-moz-box-shadow:0px 3px 10px 0 #d9d9d9;
	-webkit-box-shadow:0px 3px 10px 0 #d9d9d9;
}

#home-logo:hover{
	background-image: url(../../menuicon/home_bfbfc2.png);
	background-color:#000bad;
}

#home-logo a{
	display:block;
	width:100%;
	height:100%;
}

#cal{
	display:inline-block;
	height: 80%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:auto 3px;
	background:#f4f4f4;
	margin:auto;
	margin-left:5px;
	margin-right:10px;
	width:19%;
	min-width:180px;
}

#datepicker{
	display:block;
	font-size:18;
	height:25px;
	width:70%;
	margin:10px auto;
	text-align:center;
}

.ui-datepicker {
background: #fff; /* Old browsers */
background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Opera11.10+ */
background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* IE10+ */
background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
font-size:11px;
border:1px solid #ccc;
}

.ui-datepicker table {
width:278px;
}

.ui-datepicker table td {
text-align:center;
}

.ui-datepicker a {
cursor:pointer;
text-decoration:none;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
float:right;
}

.ui-datepicker-title {
text-align: center;
font-weight:bold;
}

.info{
	padding-left:2%;
	font-size:18;
	line-height:140%;
}

.req{
	color:#b30000;
}

.col-title{
	display:block;
	width:100%;
	height:35%;
	position:relative;
	background-color:#000bad;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
}
.col-title > span{
	color:#efefef;
}

#gobtn {
	background-color:#3498db;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #3498db;
	display:inline-block;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position:relative;
	margin:auto;
	margin-left:10px;
	width:2%;
	min-width:30px;
}
#gobtn:hover,
.chng:hover{
	background-color:#3cb0fd;
}
#gobtn:active
.chng:active{
	position:relative;
	background-color:#3498db;
}

/*********************************************/

#filled-content{
	display:block;
	position:relative;
	height:500px;
	width:1300px;
	margin:auto;
	margin-top:2%;
}

#content{
	display:block;
	position:relative;
	width:95%;
	height:60%;
	top:3%;
	margin:0 auto;
	background-color:#f4f4f4;
}

#top-titles{
	display:block;
	position:relative;
	height:8%;
	width:100%;
	position:relative;
	background-color:#000bad;
	color:#efefef;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
}

#sub-titles{
	display:block;
	position:relative;
	height:8%;
	width:100%;
	position:relative;
}
#clear{
	display:inline-block;
	width:68%;
	height:100%;
}

#langs{
	display:inline-block;
	width:30%;
	height:100%;
}

.label{
	font-size:18;
	display:inline-block;
	position:relative;
	width:15%;
	text-align:center;
	/*background-color:red;*/
	margin-right:4.4%;
}

.title{
	font-size:18;
	line-height:140%;
	padding-left:3%;
}

/*width of each #titleX should be in accordance to the width of the content below it*/
#title1{
	display:inline-block;
	width:37%; /* ->#excs */
}
#title2{
	display:inline-block;
	width:25%; /* ->#buses */
}
#title3{
	display:inline-block;
	width:20%; /* ->#persons */
}

#rest{
	display:block;
	width:100%;
	height:82%;
}

#excs{
	display:inline-block;
	width:35%;
	height:95%;
	padding-top:2%;
	font-size:18;
	vertical-align: top;
	margin-left:2%;
}

.line{
	display:block;
	position:relative;
	height:10%;
	width:99%;
	margin:8px 0;
}

.count{
	display:inline-block;
	width:3%;
	height:100%;
}

.excname{
	display:inline-block;
	width:95%;
	height:100%;
	float:right;
	border-bottom:1px solid #c9c9c9;
	background-color:white;
}

#buses{
	display:inline-block;
	width:30%;
	height:95%;
	padding-top:2%;
	vertical-align: top;
}

.buslist{
	display:inline-block;
	width:67%;
	height:100%;
	font-size:18;
	text-align:center;
	border-bottom:1px solid #c9c9c9;
	background-color:white;
}

.chng{
	display:inline-block;
	width:65px;
	height:20px;
	text-decoration:none;
	padding:0.5% 1%;
	text-align:center;
	line-height:100%;
	margin-left:3%;
	background-color:#3498db;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#ffffff;
	font-size:15px;
	text-shadow:0px 1px 0px #2f6627;
}

.more{
	display:inline-block;
	padding:0.5% 1%;
	margin-left:5px;
	text-align:center;
	line-height:100%;
	background-color:#3498db;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#ffffff;
	font-size:11px;
	color:white;
	cursor:pointer;
}

.disabledBtn{
	cursor:default;
    pointer-events:none;
    user-select:none;
}

#persons{
	display:inline-block;
	width:30%;
	height:95%;
	font-size:18;
	padding-top:2%;
	vertical-align: top;
	margin-left:1%;
}

#eng,
#de,
#fr,
#ru,
#tot{
	display:inline-block;
	position:relative;
	vertical-align:top;
	width:18%;
	height:97%;
}

/* set opaque bg colors for each and every one of them*/
.smallbox{
	display:block;
	position:relative;
	height:10%;
	width:80%;
	background-color:white;
	margin:8px 0;
	text-align:center;
	border-bottom:1px solid #c9c9c9;
}

/********************************************/
.tru{
	display: block;
}

.multi{
	display:block;
	position:relative;
	width:100%;
	z-index:9999;
}

.sel {
	position: relative;
}
.sel > select {
	width:75%;
	height:95%;
	outline:none;
	/*margin:auto auto;
	border-bottom:0px solid #c9c9c9; */
}
.middleman {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
.chklist {
	display:none; /*block*/
	border: 2px #c9c9c9 solid;
	position:absolute;
	width:73%;
	max-height:300%;
	overflow-y:scroll;
	left:12.5%;
	background-color:white;
}

.chkline {
	display: block;
	position:relative;
	width:100%;
	height:20px;
	font-size:15;
}

.chkline:hover {
	background-color: #1e90ff;
	color:white;
}

.chkline input {
	display:inline-block;
	float:left;
	width:10%;
	vertical-align:center;
}

.chktext {
	display:inline-block;
	width:50%;
	text-align:center;
}
