#custom-popup{
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
	left:0;
	top:0;
    display:flex;
    transition: height 0.5s;
    visibility:visible;
	z-index:1;
}

#pw-block{
    background-color:#ffffff;
    width:30%;
    margin:7% auto;
    border-radius:3px;
    padding:10px;
    box-shadow:2px 4px 30px rgba(0,0,0,1);
    min-width:335px;
    overflow-x:hidden;
    z-index:300;
}
.short{
   height:25%;
    min-height:190px;
    overflow-y:hidden;
}
.long{
    height:60%;
    min-height:420px;
    overflow-y:auto;
}

.pw-row{
    width:90%;
    height:29px;
    margin:7% auto;
    display:flex;
    align-items:flex-start;
}

#pw-label{
    padding-top:8px;
    padding-right: 10px;
}

.pw-input{
    flex:1;
    padding:5px;
}

.btn-row{
    width:60%;
    margin:3% auto;
    display:flex;
    justify-content:space-between;
}

.confirm-btn,
.cancel-btn{
    display:inline-block;
    text-decoration:none;
    background-color:#3498db;
    border-radius:2px;
    color:#ffffff;
}
.confirm-btn{
   padding:9px 20px;
}
.cancel-btn{
   padding:9px 23px;
}
.confirm-btn:hover,
.cancel-btn:hover,
#submit:hover{
	background-color:#3cb0fd;
}
.confirm-btn:active,
.cancel-btn:active,
#submit:active{
	background-color:#3498db;
}


#change-pw-btn,
#pw-status{
    margin-top:1%;
    margin-left:5%;
    display:inline-block;
/*    font-style: italic;*/
}

#change-pw-btn{
   float:left;
}

#pw-status{
    visibility:hidden;
    float:right;
    margin-right:5%;
    font-style: italic;
}

#change-pw-block{
    visibility:hidden;
    padding-top:15%;
}
#new-pw-row{
    width:90%;
    height:29px;
    margin:7% auto;
    display:flex;
    align-items:flex-start;
}

.show-hide-chars{
    height:25px;
    width:29px;
    margin-left:3px;
    border:2px solid #8e8e8e;
    border-radius:2px;
    background: white url(icon/eye_6e6e6e.png) center no-repeat;
    background-size:25px 15px;
    display:flex;
}
.show-hide-chars img{
    margin:auto;
}
.show-hide-chars:active{
    background: #6e6e6e url(icon/eye_white.png) center no-repeat;
    background-size:25px 15px;
}
