.center{
  text-align:center;
}

.white{
  color:white;
}

.link{
  cursor:pointer;
}

.table-wrapper{
  margin:auto;
  margin-top:2%;
  width:96vw;
  height:69vh;
  overflow-y:auto;
}

.page-title{
  margin-top:1%;
  margin-left:1%;
  display:flex;
  width:88vw;
  flex-direction:row;
  justify-content:space-between;
}

.page-title a{
  line-height:40px;
}

#single-row{
  width:96vw;
  margin:auto;
  height: 50px;
}

#filterTable{
  background-image: url('../searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 20%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border:none;
  border-bottom: 2px solid transparent;
  border-radius:3px 3px 0 0;
  outline:none;
  height:8%;
}

#filterTable:focus{
  border-bottom:2px solid black;
  background-color:white;
}
