.page-title{
   display:flex;
   margin-left:2vh;
   margin-top:2vh;
   margin-bottom:3vh;
   width:88vw;
   flex-direction:row;
   justify-content:space-between;
}

table{
   cursor:default;
}

.table-wrapper{
   margin:auto;
   margin-top:2%;
   width:96vw;
   height:69vh;
   overflow:auto;
   font-size:11px;
}

#filterTable{
  position:relative;
  background-image: url('../searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 20%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  height:8%;
  border:none;
  border-radius:3px 3px 0 0;
  border-bottom: 2px solid transparent;
  outline:none;
}

#filterTable:focus{
  border-bottom: 2px solid black;
}
