body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: start;
}

.todays_title{
    height:40px;
    width:75%;
    margin:10px auto;
    font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}

#dates {
    border-collapse: collapse;
    width: 75%;
    margin:20px auto;
}

#dates,
#dates td,
#dates th {
    border: 1px solid black;
}

#dates td {
    padding: 3px 2px;
    text-align: center;
}

#dates>.thead>tr>th {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dates>.thead>tr>th {
    padding: 5px 8px;
}

.no_expirations{
    font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    font-size:18px;
    font-weight:bold;
    background-color:#78ff41
}
